@model IEnumerable<Zadanko3.Models.Lost>

@{
    ViewData["Title"] = "MyLost";
}
    <link href="~/css/button.css" rel="stylesheet" />
<h1>MyLost</h1>

@if (User.Identity.IsAuthenticated)
{<p>
        <a class="btnnn" asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wiek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plec)
            </th>
            <th>
                Województwo
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wiek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WojewództwoLista)
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }

    </tbody>
</table>
